@model WebApp.ViewModel.RegistreringViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrering af arbejdstid</title>
</head>
<body>
    <div style="width: 600px; margin: 0 auto; font-family: Arial, sans-serif;">

        <h1>Registrering af arbejdstid</h1>
        <!-- Afdelingsvalg -->
        <div style="margin-bottom: 10px;">
            <label for="ValgtAfdelingId">Vælg afdeling:</label><br />
            @Html.DropDownListFor(m => m.ValgtAfdelingId, Model.Afdelinger, "-- Vælg afdeling --", new { @style = "width: 100%;" })
        </div>

        
    <!-- Indsend -->
    <div style="text-align: right;">
        <button type="submit">Registrer tid</button>
    </div>

    </div>
</body>
</html>
