
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TidsregistreringBekræftelse</title>
</head>
<body>
    <div>
        <h1>Din tidsregistrering er gemt :)</h1>
        <p>@ViewBag.Succesbesked</p>
        <a href="@Url.Action("Index", "Home")">
            <button type="button">Opret ny tidsregistrering</button>
        </a>
    </div>
</body>
</html>
